@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #3456807e;
}
section,
footer{
    padding: 54px 0;
}
h3{
    font-size: 50px;
}
p{
    color:rgba(0, 0, 0, 0.884);
    /* width: 500px; */
    text-indent: 2em;
    line-height: 170%;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

/* style botão  */

.btn{
    background-color: rgba(49, 55, 105, 0.568);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}
.btn.animate-btn{
    animation: animate-outline 1s ease-out infinite;
}
.btn:hover{
    background-color: #022549;
}
@keyframes animate-outline {
    from{
        outline: 0px solid #022549 ;
    }
    to{
        outline: 15px solid #02254954;
    }
}
/* ************* */

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}
nav ul a:not(.btn):after{
    content: "";
    background-color: #022549;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}
nav ul a:hover::after{
    width: 100%;
}

/* style section */
.banner{
    display: flex;
    padding: 0px;
    justify-content: center;
    border-radius: 15px;
    background-color: rgba(49, 55, 105, 0.568);
    /* width: 80%; */
    margin-top: 10px;

}
.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}
.banner .banner-text h1{
    font-size: 70px;
    color: white;
}
.banner .banner-text p{
    font-size: 20px;
    color: #ffffffb7;
    font-weight: lighter;
    margin: 18px 0;
}
.banner .banner-text-demo{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}
.banner .banner-text-demo h1{
    font-size: 60px;
    color: white;
}
.banner .banner-text-demo p{
    font-size: 20px;
    color: #ffffffb7;
    font-weight: lighter;
    margin: 18px 0;
}


/* abertura */
.abertura .container{
    display: flex;
    align-items: center;
}
.abertura .abertura-text{
    width: 80%;
    padding: 0 50px;
}
.abertura .abertura-text h3{
    font-size: 56px;
}
.abertura .abertura-text p{
    font-size: 5px 0 10px 0;
}


/* footer */
.footer{
    background-color: rgba(49, 55, 105, 0.568);
    text-align: center;
}
.footer i{
    color: #022549;
    font-size: 19px;
    background-color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}
.footer p{
    margin-top: 10px;
    color: white;
}

/* formulário */

h1{
    text-align: center;
    /* margin-left: 0px; */
    color: white;
}

.form {
    display: flex;
    /* align-items: center; */
    padding: 30px;
    border-radius: 10px;
    flex-direction: column;
    gap: .5rem;
    margin: 0 auto;
    /* background: rgba(49, 55, 105, 0.568); */
    width: 500px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
  }

  .form-control {
    margin-bottom: 10px;
    padding-bottom: 20px; 
    position: relative;
  }
  
  .form-control label {
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 20px;
    color: white;
  }
  
  .form-control input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 80%;
    padding: 10px;
  }
  
  .form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
  }
  
  .form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }
  
  .form button {
    padding: 10px;
    border: none;
    width: 50%;
    margin-left: 70px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(49, 55, 105, 0.568);
    color: #ccc;
    font-size: 1.1rem;
    cursor: pointer;
  }

    .form button.animate-btn{
        animation: animate-outline 1s ease-out infinite;
    }
    form button:hover{
        background-color: #022549;
    }
    @keyframes animate-outline {
        from{
            outline: 0px solid #022549 ;
        }
        to{
            outline: 15px solid #02254954;
        }
    }

  /* Erro and Sucesso */
  .form-control.success input {
    border-color: #2ecc71;
  }
  
  .form-control.error input {
    border-color: #e74c3c;
  }
  
  .form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
  }
  
  .form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
  }
  
  .form-control.error small {
    visibility: visible;
    color: #e74c3c;
  }
  